- name: Install languages
  become: true
  apt:
    name:
      - lldb
      - julia
      - default-jre
    state: present

- name: Install rust
  include: rust.yml

- name: Install haskell
  include: haskell.yml

- name: Install R
  include: r.yml

- name: Install Go
  include: go.yml

- name: Intall Python
  include: python.yml

- name: Install RISC-V toolchain
  include: riscv.yml

